.footer{
    background-color: $footerColor;
    div{
        width: 30px;
        height: auto;
        justify-content: space-evenly;
        img{
            div{
                a{
                    padding: 5px;
                }
            }
        }
    }         
}