* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

main{
    background: linear-gradient(-45deg, $backColor, #000000);
    height: 90vh;
}

.principal{
    min-height: 90vh;
}
.titulo{
            font-family: Ubuntu, sans-serif;
            font-weight: bolder;
            font-size: 12rem;
            text-align: left;
            position: absolute;
            top: 15%;
            left: 20%;
            transform: translate(-15%, -15%);
            color: $primaryColor;
            text-shadow: $secondaryColor 5px 5px;
            &:hover{
                animation-name: titulo;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
                animation-duration: 2s;
                }
            }

.botonCursos{
    width: 250px;
    border: 1px solid $primaryColor;
    border-radius: 50px;
    text-decoration: none;
    font-size: 2rem;
    color: $primaryColor;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    &:hover{
        color: $secondaryColor;
        border: 1px solid $secondaryColor;
    }
}

.accesoCursos{
    margin-left: 10rem;
    position: absolute;
    bottom: 35%;
    left: 8%;
}

.cursos{
    text-decoration: none;
    font-size: 2rem;
    color: $primaryColor;
    margin: 20px;
    &:hover{
        color: $secondaryColor;
    }
}

.banner{
        margin: 0 auto;
        padding: 20rem;
        height: 100%;
        background-image: url(/resources/Sitio_FV.520.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
}

h1{
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    color: $primaryColor;
    text-align: center;
    padding: 5px; 
}
h2{
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    color: $primaryColor;
    text-align: center;
    padding: 5px;   
}
@keyframes titulo {
    0% {color: $primaryColor;}
    25% {color: $animationColor;}
    50% {color: $primaryColor;}
    75% {color: $animationColor;}
    100% {color: $primaryColor;}
}

/*Cursos-----------------------------------------------*/

.card{
    background-color: $navbarColor;
    border-radius: 20px;
    border-color: $primaryColor;
    border-width: 1.5px;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 10px;
        .card-img-top{
            border-radius: 20px;
    }
}

.card-title{
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    color: $primaryColor;
    font-weight: 800;
    text-align: left;
    padding: 20px;   
}

.card-text{
    text-align: left;
    color: $tertiaryColor;
}

.btn{
    border-radius: 30px;
    border-color: $primaryColor;
    margin-right: 20px;
    margin-bottom: 5px;
    background-color: $primaryColor;
    color: $animationColor;
    &:hover{
    background-color: $secondaryColor;
    color: $navbarColor;
    
}
}

/*Calendario-----------------------------------------------*/
.calendar{
    height: 100vh;
}
.container{
    justify-content: center;
}
h3{
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    color: $primaryColor;
    text-align: center;
    padding: 10px;   
}
h4{
    text-align: end;
    color: $secondaryColor;
    font-size: 20px;
}

.dia{
    border: solid 1px $primaryColor;
    border-radius: 10px;
    margin: 1px;
    padding: 10px;
}

.fecha{
    text-align: end;
    color: $secondaryColor;
}

.imgCalendar{
    width: 100px;
}

.tituloCalendar{
    font-size: 17px;
    text-align: center;
}

.textoCalendar{
    font-size: 15px;
    text-align: center;
    color: $tertiaryColor
}

.imgCal{
    display: flex;
    justify-content: center;
}

/* Alumnos---------------------------------------------------*/
.carousel .slide{
    height: 75vh !important;
}

/* Formulario------------------------------------------------*/ 
.formulario{
    border: solid 1px $primaryColor;
    border-radius: 20px;
    margin: 10px;
}

.map{
    border: solid 1px $primaryColor;
    border-radius: 20px;
    margin: 10px;
    padding-top: 10px;
    overflow: hidden;
}

.mapaGoogle{
    border: solid 1px $primaryColor;
    border-radius: 20px;
    overflow: hidden;
    max-height: 400px;
}