@media (max-width:1920px){
    .titulo{
        font-size: 8rem;
        margin-left: 4rem;
        padding: 10rem;
    }
    .banner{
        background-size: 1750px;
    }
    .accesoCursos{
        margin-left: 18rem;
        position: absolute;
        bottom: 30%;
        left: 8%;
}
}

@media (max-width:1366px){
    .titulo{
        font-size: 7rem;
        margin-left: 2rem;
        padding: 6rem;
        }
    .banner{
        background-size: 1300px;
    }
    .accesoCursos{
        margin-left: 12rem;
        position: absolute;
        bottom: 35%;
        left: 8%;
    }  
}

@media (max-width:1024px){
    .titulo{
        font-size: 5rem;
        margin-left: 2rem;
        padding: 6rem;
        text-shadow: $secondaryColor 4px 4px;
    }
    .banner{
        background-size: 950px;
    }
    .accesoCursos{
        margin-left: 10rem;
        position: absolute;
        bottom: 45%;
        left: 8%;
    }   
    }

@media (max-width:720px){
    .titulo{
        font-size: 3rem;
        margin-left: 3rem;
        padding: 2rem;
        text-shadow: $secondaryColor 3px 3px;
        }
    .banner{
        background-size: 700px;
        }
    .accesoCursos{
        margin-left: 8rem;
        position: absolute;
        bottom: 55%;
        left: 8%;
        }
        }

@media (max-width:500px){
    .titulo{
        font-size: 2.5rem;
        margin-left: 1rem;
        padding: 1.5rem;
        }
    .banner{
        background-size: 500px;
        }
    .accesoCursos{
        margin-left: 4rem;
        position: absolute;
        bottom: 60%;
        left: 8%;
    }
}