@media (max-width:1920px){
    .titulo{
        font-size: 8rem;
        margin-left: 4rem;
        padding: 10rem;
    }
    .banner{
        background-size: 1750px;
    }
    .botonCursos{
        width: 10px;
        font-size: 2rem;
        margin-left: 15rem;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 15px;
        padding-bottom: 15px;
        }   
}

@media (max-width:1366px){
    .titulo{
        font-size: 7rem;
        margin-left: 2rem;
        padding: 6rem;
        }
    .banner{
        background-size: 1300px;
    }
    .botonCursos{
        width: 30px;
        font-size: 2rem;
        margin-left: 8rem;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 12px;
        padding-bottom: 12px;
        }   
}

@media (max-width:1024px){
    .titulo{
        font-size: 5rem;
        margin-left: 2rem;
        padding: 6rem;
        text-shadow: $secondaryColor 4px 4px;
    }
    .banner{
        background-size: 950px;
    }
    .botonCursos{
        width: 30px;
        font-size: 2rem;
        margin-left: 8rem;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        }    
    }

@media (max-width:720px){
    .titulo{
        font-size: 3rem;
        margin-left: 3rem;
        padding: 2rem;
        text-shadow: $secondaryColor 3px 3px;
        }
    .banner{
        background-size: 700px;
        }
    .botonCursos{
        width: 20px;
        font-size: 1.5rem;
        margin-left: 5rem;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        }
        }

@media (max-width:500px){
    .titulo{
        font-size: 2.5rem;
        margin-left: 1rem;
        padding: 1.5rem;
        }
    .banner{
        background-size: 500px;
        }
    .botonCursos{
        width: 20px;
        font-size: 1rem;
        margin-left: 3rem;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
        }